# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
abseil-cpp=20210324.2=hbdafb3b_0
absl-py=1.1.0=pyhd8ed1ab_0
aiobotocore=2.12.3=pypi_0
aiohttp=3.8.1=py310hf8d0d8f_1
aioitertools=0.11.0=pypi_0
aiosignal=1.2.0=pyhd8ed1ab_0
anndata=0.10.7=pypi_0
annotated-types=0.6.0=pypi_0
appdirs=1.4.4=pypi_0
array-api-compat=1.6=pypi_0
array-record=0.4.0=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pyhd8ed1ab_0
async-timeout=4.0.2=pyhd8ed1ab_0
attrs=23.2.0=pyh71513ae_0
autograd=1.6.2=pypi_0
autograd-gamma=0.5.0=pypi_0
ax-platform=0.3.7=pypi_0
biothings-client=0.3.1=pypi_0
blas=1.0=openblas
blinker=1.4=py_1
botocore=1.34.69=pypi_0
botorch=0.10.0=pypi_0
bottleneck=1.3.5=py310h96f19d2_0
brotli=1.0.7=hc377ac9_0
brotlipy=0.7.0=py310hf8d0d8f_1004
bzip2=1.0.8=h620ffc9_4
c-ares=1.18.1=h3422bc3_0
ca-certificates=2024.6.2=hf0a4a13_0
cached-property=1.5.2=hd8ed1ab_1
cached_property=1.5.2=pyha770c72_1
cachetools=4.2.4=pyhd8ed1ab_0
cairo=1.16.0=h933af38_1010
cellxgene-census=1.10.2=pypi_0
certifi=2024.6.2=pyhd8ed1ab_0
cffi=1.15.1=py310he00a5c5_0
charset-normalizer=2.1.0=pyhd8ed1ab_0
chembl-webresource-client=0.10.8=pypi_0
click=8.1.3=py310hbe9552e_0
cloudpickle=3.0.0=pypi_0
comm=0.2.2=pypi_0
cryptography=37.0.4=py310h94bb23d_0
cycler=0.11.0=pyhd3eb1b0_0
cython=3.0.10=pypi_0
dataclasses=0.6=pypi_0
decorator=5.1.1=pypi_0
deeppurpose=0.1.5=pypi_0
descriptastorus=2.6.1=pypi_0
dgllife=0.3.2=pypi_0
dm-tree=0.1.8=pypi_0
easydict=1.10=pypi_0
et_xmlfile=1.1.0=py310hca03da5_0
etils=1.3.0=pypi_0
exceptiongroup=1.1.2=pypi_0
executing=2.0.1=pypi_0
expat=2.6.2=hebf3989_0
fasteners=0.18=pypi_0
fftw=3.3.9=h1a28f6b_1
filelock=3.13.4=pypi_0
font-ttf-dejavu-sans-mono=2.37=hab24e00_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=h77eed37_2
fontconfig=2.14.0=hfb34624_0
fonts-conda-ecosystem=1=0
fonts-conda-forge=1=0
fonttools=4.25.0=pyhd3eb1b0_0
formulaic=1.0.1=pypi_0
freetype=2.11.0=h1192e45_0
frozendict=2.4.1=pypi_0
frozenlist=1.3.0=py310hf8d0d8f_1
fsspec=2024.3.1=pypi_0
future=1.0.0=pypi_0
fuzzywuzzy=0.18.0=pypi_0
gast=0.4.0=pyh9f0ad1d_0
gettext=0.21.1=h0186832_0
gget=0.28.4=pypi_0
giflib=5.2.1=h1a28f6b_0
google-auth=1.35.0=pyh6c4a22f_0
google-auth-oauthlib=0.4.6=pyhd8ed1ab_0
google-pasta=0.2.0=pyh8c360ce_0
googleapis-common-protos=1.59.1=pypi_0
gpytorch=1.11=pypi_0
griddataformats=1.0.1=pypi_0
grpc-cpp=1.42.0=hedfbb7c_1
grpcio=1.42.0=py310h6d64de0_0
gsd=3.1.1=pypi_0
h11=0.14.0=py310hca03da5_0
h5py=3.6.0=nompi_py310hb8bbf05_100
hdf5=1.12.1=nompi_had0e5e0_103
html5lib=1.1=pypi_0
huggingface-hub=0.20.3=pypi_0
hyperopt=0.2.7=pypi_0
hypothesis=6.82.3=pypi_0
icu=69.1=hbdafb3b_0
idna=3.3=pyhd8ed1ab_0
importlib-metadata=7.1.0=pypi_0
importlib-resources=5.12.0=pypi_0
iniconfig=2.0.0=pypi_0
install=1.3.5=pypi_0
interface-meta=1.3.0=pypi_0
ipython=8.23.0=pypi_0
ipywidgets=8.1.2=pypi_0
itsdangerous=2.1.2=pypi_0
jaxtyping=0.2.28=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.3=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.0=pypi_0
jpeg=9e=h1a28f6b_0
jupyterlab-widgets=3.0.10=pypi_0
keras=2.7.0=pyhd8ed1ab_0
keras-preprocessing=1.1.2=pyhd8ed1ab_0
kiwisolver=1.4.2=py310hc377ac9_0
kneed=0.8.1=pypi_0
krb5=1.19.2=hd92b7a7_3
lcms2=2.12=hba8e193_0
libblas=3.9.0=15_osxarm64_openblas
libcblas=3.9.0=15_osxarm64_openblas
libcurl=7.81.0=h8fe1914_0
libcxx=12.0.0=hf6beb65_1
libedit=3.1.20191231=hc8eb9b7_2
libev=4.33=h642e427_1
libexpat=2.6.2=hebf3989_0
libffi=3.4.2=hc377ac9_4
libgfortran=5.0.0=11_2_0_he6877d6_26
libgfortran5=11.2.0=he6877d6_26
libglib=2.70.2=h67e64d8_4
libiconv=1.17=h0d3ecfb_2
liblapack=3.9.0=15_osxarm64_openblas
libnghttp2=1.46.0=he4cd7f6_0
libopenblas=0.3.20=hea475bc_0
libpng=1.6.37=hb8d0fd4_0
libprotobuf=3.19.4=hccf11d3_0
libssh2=1.10.0=hb80f160_2
libtiff=4.2.0=h01837e1_1
libwebp=1.2.2=h68602c7_0
libwebp-base=1.2.2=h1a28f6b_0
libxml2=2.9.12=hedbfbf4_1
libzlib=1.2.12=ha287fd2_2
lifelines=0.28.0=pypi_0
lightgbm=3.3.2=py310h9799b42_0
linear-operator=0.5.1=pypi_0
llvm-openmp=12.0.0=haf9daa7_1
llvmlite=0.42.0=pypi_0
lxml=5.1.0=pypi_0
lz4-c=1.9.3=hc377ac9_0
markdown=3.3.7=pyhd8ed1ab_0
markupsafe=2.1.5=pypi_0
matplotlib=3.5.1=py310hca03da5_1
matplotlib-base=3.5.1=py310hc377ac9_1
matplotlib-inline=0.1.7=pypi_0
mdanalysis=2.5.0=pypi_0
mdanalysistests=2.5.0=pypi_0
mmtf-python=1.1.3=pypi_0
mock=5.1.0=pypi_0
mpmath=1.3.0=pypi_0
mrcfile=1.4.3=pypi_0
msgpack=1.0.5=pypi_0
multidict=6.0.2=py310hf8d0d8f_1
multipledispatch=1.0.0=pypi_0
multitasking=0.0.11=pypi_0
munkres=1.1.4=py_0
mygene=3.2.2=pypi_0
mypy-extensions=1.0.0=pypi_0
mysql-connector-python=8.0.29=pypi_0
natsort=8.4.0=pypi_0
ncurses=6.3=h1a28f6b_3
networkx=3.1=pypi_0
numba=0.59.1=pypi_0
numexpr=2.8.3=py310h5a06f4b_0
numpy=1.26.4=pypi_0
oauthlib=3.2.0=pyhd8ed1ab_0
openbabel=3.1.1=py310hd29cb64_3
openpyxl=3.0.10=py310h1a28f6b_0
openssl=1.1.1w=h53f4e23_0
opt_einsum=3.3.0=pyhd8ed1ab_1
outcome=1.3.0.post0=pypi_0
packaging=24.0=pypi_0
pandas=2.1.4=pypi_0
pandas-flavor=0.6.0=pypi_0
parso=0.8.4=pypi_0
patsy=0.5.3=pypi_0
pcre=8.45=hbdafb3b_0
peewee=3.17.1=pypi_0
pexpect=4.9.0=pypi_0
pillow=9.2.0=py310h4d1bdd5_0
pip=22.1.2=py310hca03da5_0
pixman=0.40.0=h27ca646_0
platformdirs=4.2.0=pypi_0
plotly=5.20.0=pypi_0
pluggy=1.2.0=pypi_0
pmdarima=2.0.4=pypi_0
prettytable=3.10.0=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.43=pypi_0
protobuf=4.23.3=pypi_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py4j=0.10.9.7=pypi_0
pyarrow=12.0.1=pypi_0
pyarrow-hotfix=0.6=pypi_0
pyasn1=0.4.8=py_0
pyasn1-modules=0.2.7=py_0
pycparser=2.21=pyhd8ed1ab_0
pydantic=2.6.3=pypi_0
pydantic-core=2.16.3=pypi_0
pydot=1.4.2=pypi_0
pygments=2.17.2=pypi_0
pyjwt=2.4.0=pyhd8ed1ab_0
pynndescent=0.5.12=pypi_0
pyopenssl=22.0.0=pyhd8ed1ab_0
pyparsing=3.0.4=pyhd3eb1b0_0
pyre-extensions=0.0.30=pypi_0
pyro-api=0.1.2=pypi_0
pyro-ppl=1.9.0=pypi_0
pysocks=1.7.1=py310hbe9552e_5
pytdc=0.4.12=pypi_0
pytest=7.4.0=pypi_0
python=3.10.5=h71ab1a4_0_cpython
python-dateutil=2.8.2=pyhd3eb1b0_0
python-dotenv=1.0.1=pypi_0
python-flatbuffers=2.0=pyhd8ed1ab_0
python-graphviz=0.20.1=pypi_0
python_abi=3.10=2_cp310
pytube=15.0.0=pypi_0
pytz=2024.1=pypi_0
pyu2f=0.1.5=pyhd8ed1ab_0
pyyaml=6.0=pypi_0
rdkit=2023.9.5=pypi_0
rdkit-pypi=2022.9.5=pypi_0
re2=2021.11.01=hbdafb3b_0
readline=8.1.2=h1a28f6b_1
requests=2.31.0=pypi_0
requests-cache=0.7.5=pypi_0
requests-oauthlib=1.3.1=pyhd8ed1ab_0
rsa=4.8=pyhd8ed1ab_0
s3fs=2024.3.1=pypi_0
scanpy=1.9.6=pypi_0
scikit-base=0.7.7=pypi_0
scikit-learn=1.2.2=pypi_0
scikit-spatial=7.0.0=pypi_0
scipy=1.11.0=pypi_0
seaborn=0.13.2=pypi_0
selenium=4.9.0=pyhd8ed1ab_0
selfies=2.1.1=pypi_0
session-info=1.0.0=pypi_0
setuptools=61.2.0=py310hca03da5_0
six=1.16.0=pyhd3eb1b0_1
sktime=0.28.0=pypi_0
snappy=1.1.8=hc88da5d_3
sniffio=1.3.1=pypi_0
somacore=1.0.7=pypi_0
sortedcontainers=2.4.0=pyhd3eb1b0_0
soupsieve=2.5=pypi_0
sqlite=3.38.5=h1058600_0
stack-data=0.6.3=pypi_0
statsmodels=0.14.0=pypi_0
stdlib-list=0.10.0=pypi_0
subword-nmt=0.3.8=pypi_0
sympy=1.12=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.6.0=pyhd8ed1ab_1
tensorboard-data-server=0.6.0=py310hf1846ab_2
tensorboard-plugin-wit=1.8.1=pyhd8ed1ab_0
tensorflow=2.7.0=cpu_py310h6ecea76_0
tensorflow-base=2.7.0=cpu_py310h8c911da_0
tensorflow-datasets=4.9.2=pypi_0
tensorflow-estimator=2.7.0=cpu_py310h9642b6f_0
tensorflow-metadata=1.13.1=pypi_0
termcolor=1.1.0=pyhd8ed1ab_3
threadpoolctl=3.4.0=pypi_0
tiledb=0.25.1=pypi_0
tiledbsoma=1.7.2=pypi_0
tk=8.6.12=hb8d0fd4_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
torch=2.2.2=pypi_0
tornado=6.1=py310h1a28f6b_0
tqdm=4.65.0=pypi_0
traitlets=5.14.2=pypi_0
trio=0.25.0=pypi_0
trio-websocket=0.11.1=pyhd8ed1ab_0
typeguard=2.13.3=pypi_0
typing-extensions=4.10.0=pypi_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.3.0=pyha770c72_0
tzdata=2024.1=pypi_0
umap-learn=0.5.6=pypi_0
url-normalize=1.4.3=pypi_0
urllib3=1.26.10=pyhd8ed1ab_0
wcwidth=0.2.13=pypi_0
webdriver-manager=4.0.1=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=2.1.2=pyhd8ed1ab_1
wget=3.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=4.0.10=pypi_0
wrapt=1.14.1=py310h02f21da_0
wsproto=1.2.0=pyhd8ed1ab_0
xarray=2024.3.0=pypi_0
xgboost=1.7.6=pypi_0
xlrd=2.0.1=pypi_0
xz=5.2.5=h1a28f6b_1
yapf=0.40.2=pypi_0
yarl=1.7.2=py310hf8d0d8f_2
zipp=3.8.0=pyhd8ed1ab_0
zlib=1.2.12=h5a0b063_2
zstd=1.5.2=h8574219_0
